<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LuckyMeme</title>
  <link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:200,300,400,700,800,900&amp;subset=latin" rel="preload"
    as="font">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/style.css?v=2">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/abi.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>

<body>
  <div id="app" class="hidden">
    <header>
      <div class="container">
        <ul>
          <li>
            <a href="https://t.me/LuckyMemeIO"><i class='bx bxl-telegram'></i></a>
          </li>
          <li>
            <a href="https://twitter.com/luckymemeio"><i class='bx bxl-twitter'></i></a>
          </li>
        </ul>
        <ul>
          <li><i class='bx bx-menu'></i></li>
        </ul>
      </div>
    </header>
    <h1>Mega Millions - LULU MEME (LULU)</h1>
    <div class="banner">
      <div class="container">
        <div class="contract">
          <div class="tab">
            <span @click="tab = 'bsc'" :class="{active: tab == 'bsc'}">BSC</span>
            <span @click="tab = 'eth'" :class="{active: tab == 'eth'}">ETH</span>
            <span @click="tab = 'arb'" :class="{active: tab == 'arb'}">ARB</span>
          </div>
          <div>{{contract[tab]}}</div>
        </div>
      </div>
      <img src="moon.png" />
    </div>

    <div class="countdown">
      <div>
        <div class="time">
          <div>{{ time.h }}</div>
          <div>Hours</div>
        </div>
        <div class="separator">:</div>
        <div class="time">
          <div>{{time.m}}</div>
          <div>Minutes</div>
        </div>
        <div class="separator">:</div>
        <div class="time">
          <div>{{time.s}}</div>
          <div>Seconds</div>
        </div>
      </div>
      <div v-if="isDuring" class="dialing">Prepare next period</div>
    </div>
    <div class="link">
      <div class="des">
        <span v-if="token.rewardBalance > 0">Countdown to get {{token.rewardBalance}} LULU</span>
        <span v-else>Next period is comming, buy & hold now!</span>
      </div>
      <div>
        <a
          href="https://pancakeswap.finance/swap?inputCurrency=0x55d398326f99059ff775485246999027b3197955&outputCurrency=0x8C5cDFD7F6aCEe315D7F5C2d7ed31cBBB62A81cd">Buy
          LULU</a>
      </div>
    </div>

    <div class="detail">
      <div class="container">
        <h3>Reward condition & content</h3>
        <div class="content">
          <div>Min holding balance: {{token.rewardMinHoldingBalance}} LULU</div>
          <div>Min holders to take reward: {{token.rewardMinHoldersToGenerate}}</div>
          <div>Tax buy: {{token.rewardTax}}% (add to reward)</div>
          <div>Tax sell: {{token.sellTax}}%</div>
          <div>Tax receive reward: {{token.rewardReceivedTax}}%</div>
          <div>Total reward holders: {{token.totalRewardHolders}}</div>
        </div>
      </div>
    </div>
  </div>
  <script src="/index.js?v=2"></script>
</body>
</html>